// typography
$ff-default: 'Commissioner', Arial, sans-serif;

// pallets
$color-black-1: #131313;
$color-white-1: #fff;
$color-white-2: #F5F5F5;
$color-gray-1: #B9B9B9;
$color-accent-1: #FFCA0F;
$color-accent-2: #FFBC10;
$color-red-1: rgba(255,0,0,.8);

$xl: 1440px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs;